<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" href="/static/style2.css">
    <title>Pass HTML</title>
</head>
<body>
  <div id="content">
  <div class="wrapper">
    {% for image in image_files %}
        <div class='image-container'>
          <div class="gallery">
          <img src="/static/images/{{value}}/{{image }}" alt="{{ image }}" class="gallery__img"><br/>
          <input type="checkbox" class="image-checkbox" title="Click to select" onclick="toggleDeleteButton(); toggleValidateButton();">
          <button class="delete-button" onclick="deleteImage(this)" title="Click to delete">X</button>
          <button class="correct-button" onclick="validate(this)" title="Click to validate"><img src="/static/finalcheck.png"/></button>
        </div>
        </div>
        
    {% endfor %}
  </div> 
  
  <button id="delete-selected-button" onclick="deleteSelectedImages()" style="display: none">Delete Selected Images</button>
  <button id="validate-all-button" onclick="validateAllImages()" style="display: none">Validate All Images</button>
  <p id="selected-count" style="color: black;background-color: plum; display: none">0 images selected</p>

</div>
<script>
  function deleteImage(button) {
    var container = button.parentNode;
    container.parentNode.removeChild(container);
  }
  
  function deleteSelectedImages() {
  var checkboxes = document.getElementsByClassName("image-checkbox");
  var selectedImages = [];

  for (var i = 0; i < checkboxes.length; i++) {
    if (checkboxes[i].checked) {
      var container = checkboxes[i].parentNode;
      // Exclude the validated images from the selected images array
      if (!container.querySelector(".tick")) {
        selectedImages.push(container);
      }
    }
  }

  for (var i = 0; i < selectedImages.length; i++) {
    selectedImages[i].parentNode.removeChild(selectedImages[i]);
  }

  toggleDeleteButton();
  toggleValidateButton();
}

  function validate(button) {
      var imageContainer = button.parentNode;
      var tickImg = document.createElement('img');
      tickImg.src = '/static/correct.png';
      tickImg.alt = 'Tick';
      tickImg.className = 'tick';
      imageContainer.appendChild(tickImg);
    }

    function toggleDeleteButton() {
      var checkboxes = document.getElementsByClassName("image-checkbox");
      var deleteButton = document.getElementById("delete-selected-button");
      var selectedCount = 0;

      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
          selectedCount++;
        }
      }
      var selectedCountText = selectedCount === 1 ? "1 image selected" : selectedCount + " images selected";
      var selectedCountElement = document.getElementById("selected-count");
      selectedCountElement.textContent = selectedCountText;

      if (selectedCount > 0) {
        deleteButton.style.display = "block"; 
        selectedCountElement.style.display = "block"; 
      } else {
        deleteButton.style.display = "none"; 
        selectedCountElement.style.display = "none"; 
      }
    }
    function toggleValidateButton() {
  var checkboxes = document.getElementsByClassName("image-checkbox");
  var validateButton = document.getElementById("validate-all-button");
  var isChecked = false;

  for (var i = 0; i < checkboxes.length; i++) {
    if (checkboxes[i].checked) {
      isChecked = true;
      break;
    }
  }

  if (isChecked) {
    validateButton.style.display = "block";
  } else {
    validateButton.style.display = "none";
  }
}
function validateAllImages() {
  var checkboxes = document.getElementsByClassName("image-checkbox");

  for (var i = 0; i < checkboxes.length; i++) {
    if (checkboxes[i].checked) {
      var container = checkboxes[i].parentNode;
      var validateButton = container.querySelector(".correct-button");
      validate(validateButton);
    }
  }
}


</script>
</body>
</html>